body {
  height: 100vh;
  padding: 0;
  margin: 0;
  background-color: whitesmoke;
}

li {
  text-decoration: none;
  list-style-type: none;
}

ul {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  width: auto;
}